{{#each recipes as |recipe|}}
<div class="card col-md-4 col-sm-6 text-center">
  <div class="card-body">
    <img class="mx-auto col-12" src="{{recipe.recipe.image}}" alt="">
    <h5>{{recipe.recipe.label}}</h5>
    <button type="button" name="{{recipe.recipe.uri}}" class="button saveRecipe">Save Recipe</button>
    <div class="clearfix"></div>
    <a href="#" class="seeSearchRecipe" name="{{recipe.recipe.uri}}">See details </a>
  </div>
</div>


{{/each}}
